# 널 값에 대해 체크

## 모듈 임포트

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import gc

## 데이터 로드

In [2]:
path = './data/'

In [3]:
train = pd.read_csv(path + 'train.csv')
test = pd.read_csv(path + 'test.csv')
history = pd.read_csv(path + 'historical_transactions.csv')
new_history = pd.read_csv(path + 'new_merchant_transactions.csv')
merchant = pd.read_csv(path + 'merchants.csv')

## Null 확인

In [4]:
def check_null(data):
    result = {}
    
    # 널 개수
    temp = []    
    for v in data.columns:
        temp.append(sum(data[v].isnull() * 1))
    result['is_null_cnt'] = temp.copy()
    
    # 널 비율
    temp = []
    for v in data.columns:
        temp.append(sum(data[v].isnull() * 1) / data.shape[0])
    result['is_null_rate'] = temp.copy()
    
    
    return pd.DataFrame(result, index=data.columns)

In [69]:
print(check_null(train))

                    is_null_cnt  is_null_rate
first_active_month            0           0.0
card_id                       0           0.0
feature_1                     0           0.0
feature_2                     0           0.0
feature_3                     0           0.0
target                        0           0.0

In [70]:
print(check_null(test))

                    is_null_cnt  is_null_rate
first_active_month            1      0.000008
card_id                       0      0.000000
feature_1                     0      0.000000
feature_2                     0      0.000000
feature_3                     0      0.000000

In [71]:
print(check_null(history))

                      is_null_cnt  is_null_rate
authorized_flag                 0      0.000000
card_id                         0      0.000000
city_id                         0      0.000000
category_1                      0      0.000000
installments                    0      0.000000
category_3                 178159      0.006120
merchant_category_id            0      0.000000
merchant_id                138481      0.004757
month_lag                       0      0.000000
purchase_amount                 0      0.000000
purchase_date                   0      0.000000
category_2                2652864      0.091125
state_id                        0      0.000000
subsector_id                    0      0.000000

In [72]:
print(check_null(new_history))

                      is_null_cnt  is_null_rate
authorized_flag                 0      0.000000
card_id                         0      0.000000
city_id                         0      0.000000
category_1                      0      0.000000
installments                    0      0.000000
category_3                  55922      0.028488
merchant_category_id            0      0.000000
merchant_id                 26216      0.013355
month_lag                       0      0.000000
purchase_amount                 0      0.000000
purchase_date                   0      0.000000
category_2                 111745      0.056925
state_id                        0      0.000000
subsector_id                    0      0.000000

In [73]:
print(check_null(merchant))

                             is_null_cnt  is_null_rate
merchant_id                            0      0.000000
merchant_group_id                      0      0.000000
merchant_category_id                   0      0.000000
subsector_id                           0      0.000000
numerical_1                            0      0.000000
numerical_2                            0      0.000000
category_1                             0      0.000000
most_recent_sales_range                0      0.000000
most_recent_purchases_range            0      0.000000
avg_sales_lag3                        13      0.000039
avg_purchases_lag3                     0      0.000000
active_months_lag3                     0      0.000000
avg_sales_lag6                        13      0.000039
avg_purchases_lag6                     0      0.000000
active_months_lag6                     0      0.000000
avg_sales_lag12                       13      0.000039
avg_purchases_lag12                    0      0.000000
active_months_lag12                    0      0.000000
category_4                             0      0.000000
city_id                                0      0.000000
state_id                               0      0.000000
category_2                         11887      0.035516

### history에서 merchant_id가 null인 친구

In [112]:
card_id = history.iloc[history.merchant_id.dropna().index].card_id.unique()

In [117]:
set(train.card_id.unique()).issubset(set(card_id))

True

In [118]:
set(test.card_id.unique()).issubset(set(card_id))

True

* history에서 merchant_id가 null인 친구를 드랍해도 card_id에 공백은 없음

## First Active Month

### first active null checking

In [44]:
test[test.first_active_month.isna()]

      first_active_month          card_id purchase_date  is_equal
11578                NaN  C_ID_c27b4f80f7       2017-03         0

In [12]:
first_purchase_date = history.groupby('card_id').purchase_date.min()
first_purchase_date = first_purchase_date.to_frame().reset_index()

In [23]:
train = train.merge(first_purchase_date, on='card_id', how='left')[['first_active_month', 'card_id', 'purchase_date']]
test = test.merge(first_purchase_date, on='card_id', how='left')[['first_active_month', 'card_id', 'purchase_date']]

In [48]:
test[test.first_active_month.isna()]

      first_active_month          card_id purchase_date  is_equal
11578                NaN  C_ID_c27b4f80f7       2017-03         0

In [32]:
test.purchase_date = test.purchase_date.str[:7]

In [36]:
def equal(data):
    if data.first_active_month == data.purchase_date:
        return 1
    else:
        return 0

In [38]:
test['is_equal'] = test.apply(equal, axis=1)

In [40]:
test.is_equal.value_counts()

1    76524
0    47099
Name: is_equal, dtype: int64

In [42]:
test[test.is_equal == 0]

       first_active_month          card_id purchase_date  is_equal
4                 2015-12  C_ID_2b5e3df5c2       2017-01         0
9                 2016-03  C_ID_6d8dba8475       2017-01         0
12                2016-04  C_ID_8375dfdaa2       2017-01         0
13                2016-12  C_ID_79d149c008       2017-01         0
14                2016-08  C_ID_7f1041e8e1       2017-01         0
18                2017-11  C_ID_e457bbd71d       2017-10         0
20                2016-10  C_ID_48243da9c4       2017-01         0
24                2016-05  C_ID_b54cfad8b2       2017-02         0
25                2013-03  C_ID_4b82e26faa       2017-01         0
26                2016-04  C_ID_60a453531a       2017-01         0
33                2014-12  C_ID_5005a6ad0e       2017-01         0
40                2015-12  C_ID_2558bddd83       2017-01         0
41                2016-03  C_ID_5077e2007a       2017-01         0
43                2016-12  C_ID_f27972fa70       2017-01         0
47                2017-11  C_ID_8f9dc072c4       2017-10         0
48                2016-07  C_ID_11ca664f8c       2017-01         0
51                2016-10  C_ID_df2ae73120       2017-01         0
58                2015-12  C_ID_59406e1778       2017-01         0
61                2016-08  C_ID_06a7a6f70d       2017-01         0
67                2016-09  C_ID_5a3419552f       2017-02         0
68                2016-05  C_ID_17cb2f55f2       2017-02         0
72                2016-11  C_ID_562a791678       2017-03         0
76                2016-03  C_ID_ef5198fe59       2017-01         0
78                2016-12  C_ID_fa6b4db855       2017-01         0
80                2016-11  C_ID_338bed6617       2017-01         0
83                2016-04  C_ID_348cbde97c       2017-01         0
91                2015-12  C_ID_df503a36ae       2017-01         0
92                2015-03  C_ID_00b966c727       2017-01         0
93                2016-08  C_ID_af9e0d2367       2017-01         0
94                2016-12  C_ID_a9935875b9       2017-01         0
...                   ...              ...           ...       ...
123534            2014-11  C_ID_87f659888f       2017-01         0
123536            2016-06  C_ID_fb95581430       2017-01         0
123541            2012-07  C_ID_f96d1e1fbd       2017-02         0
123546            2016-08  C_ID_aff63214c8       2017-01         0
123548            2015-12  C_ID_c933053998       2017-01         0
123554            2015-01  C_ID_1e719c6ceb       2017-01         0
123558            2016-10  C_ID_7c414299af       2017-01         0
123561            2016-05  C_ID_7ef23f6475       2017-02         0
123563            2016-08  C_ID_fa663c45c2       2017-01         0
123566            2014-08  C_ID_da84ba321f       2017-01         0
123569            2016-04  C_ID_712abacd9b       2017-01         0
123571            2014-09  C_ID_101ce4636e       2017-01         0
123576            2015-02  C_ID_4d81faf4b8       2017-01         0
123578            2015-09  C_ID_c592539591       2017-03         0
123579            2016-07  C_ID_97a507ef6b       2017-02         0
123581            2016-11  C_ID_5ecbcfe49d       2017-01         0
123585            2015-12  C_ID_85e8168aea       2017-03         0
123586            2016-08  C_ID_aeae40874b       2017-01         0
123589            2014-11  C_ID_cbeaefc4dc       2017-01         0
123593            2016-07  C_ID_cd42a5db89       2017-01         0
123600            2016-12  C_ID_2932a6ea37       2017-01         0
123608            2016-12  C_ID_dc842bba27       2017-01         0
123609            2016-12  C_ID_bd625edce0       2017-01         0
123611            2016-08  C_ID_ad358eb92e       2017-01         0
123612            2016-04  C_ID_7d9bcec574       2017-01         0
123613            2015-11  C_ID_b588b35e15       2017-01         0
123615            2014-12  C_ID_727d3ec5da       2017-03         0
123617            2016-10  C_ID_0e74bd4966       2017-04         0
123620            2016-09  C_ID_21d56d950c       2017-04         0
123622            2016-10  C_ID_87e7979a5f       2017-01         0

[47099 rows x 4 columns]

In [46]:
test[test.purchase_date == '2017-03']

       first_active_month          card_id purchase_date  is_equal
10                2017-03  C_ID_4859ac9ed5       2017-03         1
34                2017-03  C_ID_b00860b6a5       2017-03         1
38                2017-03  C_ID_8eaa79db4f       2017-03         1
42                2017-03  C_ID_66715f7d2b       2017-03         1
46                2017-03  C_ID_57940f34ad       2017-03         1
72                2016-11  C_ID_562a791678       2017-03         0
102               2017-03  C_ID_403d457c52       2017-03         1
170               2017-03  C_ID_5ac4488f3c       2017-03         1
212               2017-03  C_ID_415fc459f1       2017-03         1
216               2016-08  C_ID_524851647a       2017-03         0
257               2017-03  C_ID_37ed75f403       2017-03         1
260               2016-08  C_ID_9ff39d9f8f       2017-03         0
263               2017-03  C_ID_9f3c474704       2017-03         1
292               2017-03  C_ID_be968701f8       2017-03         1
301               2016-09  C_ID_3162e8711f       2017-03         0
322               2017-03  C_ID_75048175f8       2017-03         1
331               2017-03  C_ID_2aa82ee67f       2017-03         1
334               2016-12  C_ID_2b11143b2d       2017-03         0
337               2016-12  C_ID_19d087b9fc       2017-03         0
345               2017-03  C_ID_432fad8d0c       2017-03         1
362               2017-03  C_ID_b33e0f675e       2017-03         1
364               2017-03  C_ID_a1e1912c2a       2017-03         1
366               2016-12  C_ID_9563a35a7f       2017-03         0
374               2016-12  C_ID_4c525e9990       2017-03         0
390               2017-03  C_ID_b36ca5620f       2017-03         1
402               2017-03  C_ID_6b0ac2784f       2017-03         1
403               2017-03  C_ID_512386b5f4       2017-03         1
443               2017-03  C_ID_a875715dd5       2017-03         1
447               2017-05  C_ID_c1edb6769c       2017-03         0
466               2017-03  C_ID_cd78d27cae       2017-03         1
...                   ...              ...           ...       ...
123226            2016-08  C_ID_9d5ce09d00       2017-03         0
123228            2017-03  C_ID_90dd6942c8       2017-03         1
123235            2017-03  C_ID_16975f1f8a       2017-03         1
123240            2017-03  C_ID_e17c7a5953       2017-03         1
123244            2017-03  C_ID_d81c47ab5f       2017-03         1
123291            2017-03  C_ID_c83b062401       2017-03         1
123292            2015-08  C_ID_12740267e0       2017-03         0
123306            2016-10  C_ID_804b36480b       2017-03         0
123323            2017-03  C_ID_451e4109ab       2017-03         1
123324            2015-12  C_ID_2b886acf99       2017-03         0
123342            2017-05  C_ID_2fb7dbdc01       2017-03         0
123357            2017-03  C_ID_6775dd5279       2017-03         1
123394            2017-03  C_ID_dcce940a53       2017-03         1
123396            2017-03  C_ID_95649fe8c1       2017-03         1
123408            2017-03  C_ID_ebdb124281       2017-03         1
123414            2017-03  C_ID_04c254d39a       2017-03         1
123434            2017-03  C_ID_1765325f21       2017-03         1
123444            2017-03  C_ID_c06b6a9627       2017-03         1
123451            2013-07  C_ID_e0c48bf292       2017-03         0
123452            2017-03  C_ID_bae7cff91e       2017-03         1
123479            2017-03  C_ID_7498e2fd81       2017-03         1
123500            2017-03  C_ID_845af9836a       2017-03         1
123507            2016-11  C_ID_4f3323c5cb       2017-03         0
123509            2017-03  C_ID_20baa139fc       2017-03         1
123549            2017-03  C_ID_6a8e6bf9ca       2017-03         1
123568            2017-03  C_ID_95d2f0991a       2017-03         1
123578            2015-09  C_ID_c592539591       2017-03         0
123585            2015-12  C_ID_85e8168aea       2017-03         0
123587            2017-03  C_ID_fbe7d93ad2       2017-03         1
123615            2014-12  C_ID_727d3ec5da       2017-03         0

[6711 rows x 4 columns]

In [43]:
test.purchase_date.value_counts()

2017-01    42296
2017-09     8836
2017-02     8726
2017-08     8449
2017-10     8330
2017-11     7780
2017-07     7589
2017-03     6711
2017-06     6493
2017-04     6270
2017-05     6139
2017-12     6004
Name: purchase_date, dtype: int64

In [51]:
sorted(train.first_active_month.value_counts().index)

['2011-11',
 '2011-12',
 '2012-02',
 '2012-03',
 '2012-04',
 '2012-05',
 '2012-06',
 '2012-07',
 '2012-08',
 '2012-09',
 '2012-10',
 '2012-11',
 '2012-12',
 '2013-01',
 '2013-02',
 '2013-03',
 '2013-04',
 '2013-05',
 '2013-06',
 '2013-07',
 '2013-08',
 '2013-09',
 '2013-10',
 '2013-11',
 '2013-12',
 '2014-01',
 '2014-02',
 '2014-03',
 '2014-04',
 '2014-05',
 '2014-06',
 '2014-07',
 '2014-08',
 '2014-09',
 '2014-10',
 '2014-11',
 '2014-12',
 '2015-01',
 '2015-02',
 '2015-03',
 '2015-04',
 '2015-05',
 '2015-06',
 '2015-07',
 '2015-08',
 '2015-09',
 '2015-10',
 '2015-11',
 '2015-12',
 '2016-01',
 '2016-02',
 '2016-03',
 '2016-04',
 '2016-05',
 '2016-06',
 '2016-07',
 '2016-08',
 '2016-09',
 '2016-10',
 '2016-11',
 '2016-12',
 '2017-01',
 '2017-02',
 '2017-03',
 '2017-04',
 '2017-05',
 '2017-06',
 '2017-07',
 '2017-08',
 '2017-09',
 '2017-10',
 '2017-11',
 '2017-12',
 '2018-01',
 '2018-02']

In [57]:
sorted(new_history.purchase_date.str[:7].unique())

['2017-03',
 '2017-04',
 '2017-05',
 '2017-06',
 '2017-07',
 '2017-08',
 '2017-09',
 '2017-10',
 '2017-11',
 '2017-12',
 '2018-01',
 '2018-02',
 '2018-03',
 '2018-04']

## Null check new

In [9]:
history.city_id.replace(-1, np.nan, inplace=True)
history.installments.replace(-1, np.nan, inplace=True)
history.installments.replace(999, np.nan, inplace=True)
history.merchant_category_id.replace(-1, np.nan, inplace=True)
history.subsector_id.replace(-1, np.nan, inplace=True)
history.state_id.replace(-1, np.nan, inplace=True)

In [10]:
check_null(history)

                      is_null_cnt  is_null_rate
authorized_flag                 0      0.000000
card_id                         0      0.000000
city_id                   2478624      0.085140
category_1                      0      0.000000
installments               178347      0.006126
category_3                 178159      0.006120
merchant_category_id         2252      0.000077
merchant_id                138481      0.004757
month_lag                       0      0.000000
purchase_amount                 0      0.000000
purchase_date                   0      0.000000
category_2                2652864      0.091125
state_id                  2652864      0.091125
subsector_id                 2252      0.000077

In [12]:
3 / 180

0.016666666666666666

In [13]:
2207 / len(train)

0.010930233709890698